@page "/game"
@layout MainLayout
@using Data.Controler
@inject NavigationManager NavigationManager

<body class="main-conteneer">
    <div class="top-row-conteneer">
        <div class="nav-item">
            <button class="icon" @onclick="@(()=>OnClickNavigation("/navMenu"))"></button>
            <button class="top-row-text text" @onclick="@(()=>OnClickNavigation("/tour"))">Назад</button>
        </div>
        <h1 class="top-row-text text" href="">@(Data.Helper.FI())</h1>
    </div>
    <div class="info-conteneer">
        <section class="image-conteneer info-item1">
            <div class="element-player">
                <div class="image"></div>
                <div class="text text-aling">@whiteP</div>
            </div>
        </section>
        <section class="image-conteneer info-item2">
            <div class="element-player">
                <div class="image"></div>
                <div class="text text-aling">@blackP</div>
            </div>
        </section>
        <section class="info-item3">
            <h3 class="text">Белыми: @whiteP</h3>
            <h3 class="text">Черными: @blackP</h3>
            <h3 class="text">Время: @ConsignmentControler.nowConsignment.DateStart</h3>
            <h3 class="text">Результат: @ConsignmentControler.nowConsignment.whitePlayer.Result : @ConsignmentControler.nowConsignment.blackPlayer.Result</h3>
        </section>
    </div>
    <section class="pozition-conteneer">
        <div class="element">
            <h3 class="text">@ConsignmentControler.nowConsignment.whitePlayer.GameMove</h3>
        </div>
    </section>
</body>

@code {
    string blackP = ConsignmentControler.nowConsignment.blackPlayer.player.FirstName + " " + ConsignmentControler.nowConsignment.blackPlayer.player.MiddleName;
    string whiteP = ConsignmentControler.nowConsignment.whitePlayer.player.FirstName + " " + ConsignmentControler.nowConsignment.whitePlayer.player.MiddleName;

    private void OnClickNavigation(string str) => NavigationManager.NavigateTo(str);
}
