@page "/gameMove"
@layout MainLayout
@inject NavigationManager NavigationManager


<section class="main-conteneer">
    <p class="top-row-text text">Чей ход</p>
    <div>
        <select placeholder="Фигура">
            @* @foreach (var item in Figures)
            {
            <option value="@item.FIDEID">@item.FirstName @item.MiddleName @item.ELORating</option>
            }*@
        </select>
        <select placeholder="Ход">
            @* @foreach (var item in Figures)
            {
            <option value="@item.FIDEID">@item.FirstName @item.MiddleName @item.ELORating</option>
            }*@
        </select>
    </div>
   <div>
        <button @onclick="SetMove" class="top-row-text text">Сделать ход</button>
        <button class="top-row-text text">Завершить партию</button>
   </div>
</section>
@code {
    //DisplayAlert???

    private void SetMove() 
    {
        
    }
}
