@page "/gameMove"
@using MauiApp3.Data.Controler
@layout MainLayout
@inject NavigationManager NavigationManager


<section class="main-conteneer">
    <p class="top-row-text text">@str</p>
    <div style="display: flex; flex-wrap: wrap;">
        <div>
            <select @bind="index">
                @foreach (var item in chessGame.GetFigure(IsWhile))
                {
                    <option value="@item.ID">@item.Name@item.Pozition.cell</option>
                }
            </select>
        </div>
        <div>
            <select @bind="move">
                @foreach (var item in chessGame.GetFigure(IsWhile).Where(p => p.ID == index).FirstOrDefault().GetCells(chessGame.Figures))
                {
                    <option value="@item.cell">@item.cell</option>
                }
            </select>
        </div>
    </div>
    @if (chessGame.IsGameContinues)
    {
        <div>
            <button @onclick="SetMove" class="text">Сделать ход</button>
            <button @onclick="SwapEnd" class="text">Завершить партию</button>
            <button @onclick="DeleteMove" class="text">Удалить ход</button>
            <button @onclick="Surrender" class="text">Сдаться</button>
        </div>
        @if (End)
        {
            <select @bind="result">
                <option value="">Выберете результат</option>
                <option value="1">Белые</option>
                <option value="0">Чёрные</option>
                <option value="2">Ничья</option>
            </select>
            <button @onclick="EndGame" class="text">Подвердить</button>
        }
    }
    else
    {
        <div>Белые @ConsignmentControler.nowConsignment.whitePlayer.Result : @ConsignmentControler.nowConsignment.blackPlayer.Result Чёрные</div>
        <button @onclick="Exit" class="text">Выйти</button>
    }
   
    <div>
        @foreach (var item in chessGame.Move)
        {
            @(item + "; ")
        }
    </div>
</section>

@code {
    List<Data.ChessClasses.Cell> cells = new List<Data.ChessClasses.Cell>();
    Data.ChessClasses.ChessGame chessGame = new(ConsignmentControler.nowConsignment);
    string[] coloms = new string[] { "A", "B", "C", "D", "E", "F", "G", "H" };
    bool IsWhile = true, End, del = false;
    string move, str = "Белые";
    int? index = 1;
    double? result;
    Data.ChessClasses.Figure figure = new Data.ChessClasses.Pawn("A8", true, -1);

    private void Swap() => str = IsWhile ? "Белые" : "Чёрные";
    private void SwapEnd() => End = !End;

    private void CheckFigure() 
    {
    }

    private void DeleteMove()
    {
        if (!del) return;
        IsWhile = !IsWhile;
        Swap();
        del = false;
        chessGame.DeleteLastMove();
    }

    private void SetMove()
    {
        if (index == null) return;
        if (move == null) return;

        if (!chessGame.SetFigure(chessGame.GetFigure(IsWhile).Where(p => p.ID == index).FirstOrDefault(), move)) return;
        index = 1;
        IsWhile = !IsWhile;
        del = true;
        Swap();
    }

    private void EndGame()
    {
        if (result == null) return;
        chessGame.EndGame(result);
    }

    private void Exit() 
    {
        Data.DataBaseFullConn.CloseCon();
        NavigationManager.NavigateTo("/game");
    }

    private void Surrender()
    {
        if (IsWhile) chessGame.EndGame(0);
        else chessGame.EndGame(1);
    }
}