@page "/game"
@layout MainLayout
@using ChessTourBuilderApp.Data.HelpClasses
@inject NavigationManager NavigationManager

<body class="main-conteneer">
    <div class="top-row-conteneer">
        <div class="nav-item">
            <button class="icon" @onclick="@(()=>OnClickNavigation("/navMenu"))"></button>
            <button class="top-row-text text" @onclick="@(()=>OnClickNavigation("/tour"))">Назад</button>
        </div>
        <h1 class="top-row-text text" href="">@(Data.HelpClasses.Helper.FI())</h1>
    </div>
    <div class="info-conteneer">
        <section class="info-item3">
            <h3 class="text">Белыми: @whiteP</h3>
            <h3 class="text">Черными: @blackP</h3>
            <h3 class="text">Время: @StaticResouses.mainControler.ConsignmentControler.nowConsignment.DateStart</h3>
            <h3 class="text">Результат: @StaticResouses.mainControler.ConsignmentControler.nowConsignment.whitePlayer.Result : @StaticResouses.mainControler.ConsignmentControler.nowConsignment.blackPlayer.Result</h3>
            <h3 class="text">Стутус: @Helper.status[StaticResouses.mainControler.EventControler.nowEvent.StatusID-1]</h3>
        </section>
    </div>
    <section class="pozition-conteneer">
        <div class="element">
            <h3 class="text">@StaticResouses.mainControler.ConsignmentControler.nowConsignment.GameMove</h3>
        </div>
    </section>
    @if (StaticResouses.mainControler.ConsignmentControler.nowConsignment.StatusID == 2 && StaticResouses.mainControler.EventControler.nowEvent.StatusID != 1 && !StaticResouses.IsPlayer)
    {
        <button class="top-row-text text" @onclick="@(()=>OnClickNavigation("/gameMove"))">Смотреть</button>
    }
    @if (check) 
    {
            <button class="top-row-text text" @onclick="@(()=>OnClickNavigation("/gameMove"))">Играть</button>
            <button class="top-row-text text" @onclick="@(()=>OnClickNavigation("/gameMove"))">Играть локально</button>
    }
</body>

@code {
    bool check = OnCheck();

    string blackP = StaticResouses.mainControler.ConsignmentControler.nowConsignment.blackPlayer.player.FirstName + " " + StaticResouses.mainControler.ConsignmentControler.nowConsignment.blackPlayer.player.MiddleName;
    string whiteP = StaticResouses.mainControler.ConsignmentControler.nowConsignment.whitePlayer.player.FirstName + " " + StaticResouses.mainControler.ConsignmentControler.nowConsignment.whitePlayer.player.MiddleName;

    private void OnClickNavigation(string str) => NavigationManager.NavigateTo(str);

    private static bool OnCheck() 
    {
        if(StaticResouses.IsPlayer)
        {
            if (StaticResouses.mainControler.ConsignmentControler.nowConsignment.blackPlayer.PlayerID == (int)StaticResouses.mainControler.PlayerControler.nowPlayer.FIDEID) return true;
            if (StaticResouses.mainControler.ConsignmentControler.nowConsignment.whitePlayer.PlayerID == (int)StaticResouses.mainControler.PlayerControler.nowPlayer.FIDEID) return true;
        }
        return false;
    }
}