@page "/playerPositionList"
@layout MainLayout
@using System.Data
@using ChessTourBuilderApp.Data.Controler
@using ChessTourBuilderApp.Data.DataBases
@using System.Text.RegularExpressions
@using ChessTourBuilderApp.Data.Model
@inject NavigationManager NavigationManager

<body class="main-conteneer">
    <div class="top-row-conteneer">
        <button class="icon" @onclick="@(()=>OnClickNavigate("/navMenu"))"></button>
        <h1 class="top-row-text text" href="">@(Data.HelpClasses.Helper.FI())</h1>
    </div>
    <section class="main-conteneer-block">
        <input @bind-value="like" class="input-main" placeholder="Поиск" type="text">
    </section>
    <section>
        <div class="color-first pozition-conteneer">
            <div class="text-pozition">Позиция</div>
            <div class="input-main text-aling text-pozition">Игрок</div>
            <div class="input-main text-aling text-pozition">Очки</div>
        </div>
        @foreach (var item in ds.Where(p => Regex.IsMatch(p.Fi, like + @"(\w*)", RegexOptions.IgnoreCase)))
        {
            <div class="color-second pozition-conteneer">
                <div class="text-pozition">@item.Pozition</div>
                <div class="input-main text-aling text-pozition">@item.Fi</div>
                <div class="input-main text-aling text-pozition">@item.Points</div>
            </div>
        }
    </section>
</body>

@code {

    string like;
    List<ResultSheme> ds = new();

    protected override async Task OnInitializedAsync()
    {
        ds = await Initializa();
        if (ds == null) ds = new();
    }

    private void OnClickNavigate(string str) => NavigationManager.NavigateTo(str);

    private async static Task<List<ResultSheme>> Initializa()
    {
        return Data.Controler.EventControler.nowEvent.TypeEvent ?
           await ResultTableControler.GetResultTable(EventControler.nowEvent.GetTableName())
        :
           await ResultTableControler.GetResultTableСircle(EventControler.nowEvent.GetTableName());
    }
}