@page "/playerPositionList"
@layout MainLayout
@using System.Data
@using ChessTourBuilderApp.Data.DataBases
@using System.Text.RegularExpressions
@inject NavigationManager NavigationManager

<body class="main-conteneer">
    <div class="top-row-conteneer">
        <button class="icon" @onclick="@(()=>OnClickNavigate("/navMenu"))"></button>
        <h1 class="top-row-text text" href="">@(Data.HelpClasses.Helper.FI())</h1>
    </div>
    <section class="main-conteneer-block">
        <input @bind-value="like" class="input-main" placeholder="Поиск" type="text">
    </section>
    <section>
        <div class="color-first pozition-conteneer">
            <div class="text-pozition">Позиция</div>
            <div class="input-main text-aling text-pozition">Игрок</div>
            <div class="input-main text-aling text-pozition">Очки</div>
        </div>
        @foreach (var item in ds.Where(p => Regex.IsMatch(p.Fi, like + @"(\w*)", RegexOptions.IgnoreCase)))
        {
            <div class="color-second pozition-conteneer">
                <div class="text-pozition">@item.Pozition</div>
                <div class="input-main text-aling text-pozition">@item.Fi</div>
                <div class="input-main text-aling text-pozition">@item.Points</div>
            </div>
        }
    </section>
</body>

@code {
    List<ResultSheme> ds = Initializa();

    string like;

    private void OnClickNavigate(string str) => NavigationManager.NavigateTo(str);

    private static List<ResultSheme> Initializa()
    {
        List<ResultSheme> ds = Data.Controler.EventControler.nowEvent.TypeEvent ?
            DataBase.Read(Data.HelpClasses.StaticResouses.dBQ.GetResult(), ResultSheme.mapper)
        :
            DataBase.Read(Data.HelpClasses.StaticResouses.dBQ.GetResultСircle(), ResultSheme.mapper);

        for (int i = 0; i < ds.Count; i++)
        {
            ds[i].Pozition = i + 1;
        }

        return ds;
    }

    public class ResultSheme
    {
        public static readonly Func<IDataReader, ResultSheme> mapper = r => new ResultSheme()
        {
            Points = r["Points"].ToString(),
            Fi = r["Fi"].ToString(),
        };
        public int Pozition { get; set; }
        public string Points { get; set; }
        public string Fi { get; set; }
    }
}