@page "/registration"
@layout MainLayout
@inject NavigationManager NavigationManager


<body class="main-conteneer">
    <section class="left-conteneer">
        <h1 class="top-row-text text text-color-right" href="">Регистрация</h1>
        <div class="form">
            <div>
                <p class="text-color-right error-text">@result[0]</p>
                <input @bind-value="organizer.FirstName" placeholder="Имя" type="text">
            </div>
            <div>
                <p class="text-color-right error-text">@result[1]</p>
                <input @bind-value="organizer.MiddleName" placeholder="Фамилия" type="text">
            </div>
            <div>
                <p class="text-color-right error-text">@result[2]</p>
                <input @bind-value="organizer.LastName" placeholder="Отчество" type="text">
            </div>
            <div>
                <p class="text-color-right error-text">@result[3]</p>
                <input @bind-value="organizer.Login" placeholder="Логин" type="text">
            </div>
            <div>
                <p class="text-color-right error-text">@result[4]</p>
                <input @bind-value="organizer.Password" placeholder="Пароль" type="password">
            </div>
        </div>
        <button class="text text-color-right border-none" @onclick="@Cheker" href="">Зарегистрироваться</button>
        <button class="text text-color-right border-none" @onclick="@(()=>OnClickNavigate("/"))" href="">Войти</button>
    </section>
</body>

@code {
    string[] result = new string[5];
    Data.Model.Organizer organizer = new();


    private void OnClickNavigate(string str) => NavigationManager.NavigateTo(str);

    private void Cheker()
    {
        Array.Clear(result);
        if (!Data.HelpClasses.Helper.CheckOrganizer(organizer, ref result)) return;
        if (Data.Controler.OrganizerControler.Insert(organizer))
        {
            OnClickNavigate("/");
        }
    }
}
