@page "/registration"
@using ChessTourBuilderApp.Data.HelpClasses
@layout MainLayout
@inject NavigationManager NavigationManager


<body class="sub-main">
    <div class="main-conteneer">
        <h1 class="title">Регистрация</h1>
        <div class="form">
            <div>
                <p class="error-text">@result[0]</p>
                <p class="sub-title-input">Имя</p>
                <input @bind-value="organizer.FirstName"/>
            </div>
            <div>
                <p class="error-text">@result[1]</p>
                <p class="sub-title-input">Фамилия</p>
                <input @bind-value="organizer.MiddleName"/>
            </div>
            <div>
                <p class="error-text">@result[2]</p>
                <p class="sub-title-input">Отчество</p>
                <input @bind-value="organizer.LastName"/>
            </div>
            <div>
                <p class="error-text">@result[3]</p>
                <p class="sub-title-input">Логин</p>
                <input @bind-value="organizer.Login"/>
            </div>
            <div>
                <p class="error-text">@result[4]</p>
                <p class="sub-title-input">Пароль</p>
                <input @bind-value="organizer.Password"/>
            </div>
        </div>
        <button disabled="@pressed" @onclick="@Cheker">Зарегистрироваться</button>
        <button disabled="@pressed" @onclick="@(()=>OnClickNavigate("/"))">Войти</button>
    </div>
</body>

@code {
    string[] result = new string[5];
    bool pressed = false;
    Data.Model.Organizer organizer = new();

    private void OnClickNavigate(string str) => NavigationManager.NavigateTo(str);

    private async void Cheker()
    {
        pressed = true;
        Array.Clear(result);

        result = await Data.HelpClasses.Helper.CheckOrganizer(organizer);

        if (!Data.HelpClasses.Helper.CheckStringArray(result))
        {
            pressed = false;

            StateHasChanged();
            return;
        }

        if (await StaticResouses.mainControler.OrganizerControler.Insert(organizer))
        {
            OnClickNavigate("/");
        }
        pressed = false;
        StateHasChanged();
    }
}